<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi recetario</title>
    <link rel="icon" href="public/img/icon.png" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <div>
            <h1>Mi recetario de cocina</h1>
            <p>Recetas para todos los dias</p>
        </div>
    </header>
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="recetasDulces.html">RECETAS DULCES</a>
        <a href="">RECETAS SALADAS</a>
        <a href="contacto.html">CONTACTO</a>
    </nav>
    <!-- recetas -->
    <div class="container-fluid">
        <article class="receta">
            <img src="../img/alfajor.png" class="img-fluid" alt="">
            <h2>Alfajores de Maicena</h2>
            <h4>Clásicos, tradicionales y deliciosos Alfajores de Maicena rellenos con Dulce de Leche!</h4>
            <h3>Ingredientes.</h3>
            <ul>
                <li>Manteca 100 Gr. (Mantequilla)</li>
                <li>Harina de Trigo 0000 100 Gr.</li>
                <li>Maicena 200 Gr. (Almidón de Maíz)</li>
                <li>Azúcar Impalpable 100 Gr. (Glas)</li>
                <li>Huevo 2 u.</li>
                <li>Polvo de Hornear 10 Gr.</li>
                <li>Esencia de Vainilla 1 Cda.</li>
                <li>Cognac 1 Cda. (opcional)</li>
                <li>Ralladura de Medio Limón</li>
                <li>Pizca de Sal</li>
            </ul>
            <h4>Para el relleno</h4>
            <ul>
                <li>Dulce de Leche 400 Gr.</li>
                <li>Coco Rallado c/n</li>
            </ul>
            <p>Rinde 20 Alfajores de Maicena con Dulce de Leche, para disfrutarlos en el desayuno, merienda, de postre o simplemente cuando haya ganas de algo dulce!!</p>
            <h3>Procedimiento.</h3>
            <!-- carrusel -->
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../img/alfajor.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/alfajor-collage.png" class="d-block w-100" alt="...">
                  </div>
                  <!-- <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div> -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <ol>
                <li>Agregar el Cognac, Esencia de Vainilla, la Ralladura de Limón y batir nuevamente para incorporar.</li>
                <li>Agregar los Huevos y batir para incorporar.</li>
                <li>Agregar de a poco todos los ingredientes “secos”, Harina, Maicena, Polvo de Hornear y Sal. En lo posible utilizar un Tamiz para poder incorporarlos mas fácil y evitar grumos.</li>
                <li>El Cognac es opcional pero le aporta un rico sabor a la masa. También se puede reemplazar por un licor o whisky<li>
                <li>Envolver la masa con film y refrigerar por 30 minutos aproximadamente. La masa debe enfriarse para poder trabajarla más fácil.</li>
                <li>Espolvorear un poco de harina sobre la mesada y sobre la masa, luego con la ayuda de un palo estirar la masa hasta lograr un espesor de aproximadamente 5 milímetros.</li>
                <li>Con un cortante de 5cm de diámetro, cortar círculos de masa y colocarlos sobre una fuente para horno.</li>
                <li>Precalentar el horno a 180ºC.</li>
                <li>Hornear durante 5 a 8 minutos a temperatura media 180ºC. Las “tapitas” no se deben dorar, tiene que estar cocidas pero blancas.</li>
                <li>Es normal que en la superficie se hagan algunas grietas durante la cocción.</li>
                <li>Retirar del horno y dejar enfriar.</li>
                <li>En un bowl, colocar la Manteca (pomada) junto con el Azúcar Impalpable y batir hasta que se vuelva una crema.</li>
                <li>Mezclar bien hasta incorporarlos ingredientes y formar una masa.</li>
            </ol>
            <h3>Cómo armar los Alfajores de Maicena.</h3>
            <p>Colocar el Dulce de Leche (en lo posible tipo “repostero” porque tiene mayor consistencia) en una manga pastelera, cubrir el interior de una “tapa” con Dulce de Leche (ni mucho, ni poco, más o menos debe tener el mismo espesor de la tapa). Colocar otra tapa encima y hacer un poco de presión para emparejar.</p>
            <p>Luego, pasar los bordes del alfajor por Coco Rallado hasta que quede bien cubierto.</p>
            <p>La manga se puede reemplazar por una bolsa dura (y limpia!) o directamente utilizar una cuchara.</p>
            <p>Listo!! Ya están armados nuestros Alfajores de Maicena para disfrutarlos como corresponde!!</p>
            <div class="receta-iframe">
                <iframe src="https://www.youtube.com/embed/s8tm2U4dOdY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </article>
    </div>



    <footer>
        <p>&copy; Bren Hoffmann, Potrero Digital 2024</p>
    </footer>
    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>