/* .masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 10px;
    gap: 20px;
}
.item {
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #fff;
}
.item img{
    width: 100%;
    height: auto;
}
.item:hover {
    transform: translateY(-10px);
}
.item1 { 
    grid-row: span 15; 
    background-color: #ff6f61; 
}
.item2 { 
    grid-row: span 20; 
    background-color: #6b5b95; 
}
.item3 { 
    grid-row: span 10; 
    background-color: #88b04b; 
}
.item4 { 
    grid-row: span 25; 
    background-color: #d65076; 
}
.item5 { 
    grid-row: span 30; 
    background-color: #ffb347; 
}
.item6 { 
    grid-row: span 15; 
    background-color: #45b8ac; 
}
.item7 { 
    grid-row: span 20; 
    background-color: #e94b3c; 
}
.item8 { 
    grid-row: span 10; 
    background-color: #6c5b7b; 
}
.item9 { 
    grid-row: span 25; 
    background-color: #00a86b; 
}
.item10 { 
    grid-row: span 30; 
    background-color: #b565a7;
} */

/* .grid-container{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-flow: row;
    gap:15px;
    
} */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    grid-auto-flow: dense;
    margin: 20px;
    
}
.gallery > .card > .front {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    perspective: 800px;
}
.front > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.image-container .tall {
    grid-row: span 2;
}
.card{
    position:relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}
.front, .back{
    height: 100%;
    width: 100%;
    position:absolute;
    backface-visibility: hidden;
}
.card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}
.back{
    background-color: aliceblue;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}