<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/masonry.css">
    <link rel="icon" href="../img/icon.png" type="image/x-icon">
    
</head>
<body>
    <!-- etario de cocina</h1>
            <p>Recetas para todos los dias</p>
        </div>
    </header> -->
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="">RECETAS DULCES</a>
        <a href="">RECETAS SALADAS</a>
        <a href="">CONTACTO</a>
    </nav>
    <!-- parte principal -->
    <!-- <div class="grid-container">
        <div class="card large"><img src="../img/albondigas-ig-4-819x1024.webp" alt=""></div>
        <div class="card large"><img src="../img/bife-chori-reduccion-ig-3-819x1024.webp" alt=""></div>
        <div class="card"><img src="../img/burger.png" alt=""></div>
        <div class="card large"><img src="../img/entrania-ig-1-819x1024.webp" alt=""></div>
        <div class="card large"><img src="../img/estofado-carne-web-5-819x1024.webp" alt=""></div>
        <div class="card large"><img src="../img/focaccia-ig01-819x1024.webp" alt=""></div>
        <div class="card large"><img src="../img/goulash-spaetzle-ig-2-819x1024.webp" alt=""></div>
        <div class="card"><img src="../img/lomo.png" alt=""></div>
        <div class="card large"><img src="../img/osobuco-cacerola-ig-2-819x1024.webp" alt=""></div>
        <div class="card "><img src="../img/panBruger.png" alt=""></div>
        <div class="card large"><img src="../img/pollo-curry-ig01.webp" alt=""></div>
        <div class="card large"><img src="../img/shawarma-ig-1.webp" alt=""></div>
    </div> -->
    <div class="gallery">
        <div class="card">
            <div class="front">
                <div class="image-container tall">
                    <img src="../img/bife-chori-reduccion-ig-3-819x1024.webp" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <div class="image-container">
                    <img src="../img/burger.png" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>
        <div class="card ">
            <div class="front ">
                <div class="image-container tall">
                    <img src="../img/entrania-ig-1-819x1024.webp" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>
        <div class="card ">
            <div class="front ">
                <div class="image-container tall">
                    <img src="../img/estofado-carne-web-5-819x1024.webp" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>
        <div class="card ">
            <div class="front ">
                <div class="image-container tall">
                    <img src="../img/focaccia-ig01-819x1024.webp" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>
        <div class="card ">
            <div class="front ">
                <div class="image-container tall">
                    <img src="../img/goulash-spaetzle-ig-2-819x1024.webp" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>
        <div class="card">
            <div class="front  ">
                <div class="image-container">
                    <img src="../img/lomo.png" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <div class="image-container ">
                    <img src="../img/osobuco-cacerola-ig-2-819x1024.webp" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <div class="image-container ">
                    <img src="../img/panBruger.png" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <div class="image-container ">
                    <img src="../img/pollo-curry-ig01.webp" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>
        <div class="card">
            <div class="front">
                <div class="image-container ">
                    <img src="../img/shawarma-ig-1.webp" alt="">
                </div>
            </div>
            <div class="back">
                <h2>Alfajores de Maicena</h2>
                <h5>Bren Hoffmann 10/30/24</h5>
                <a href="" class="leer-mas">Seguir leyendo</a>
            </div>
        </div>   
    </div>
</body>
</html>