<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi recetario</title>
    <link rel="icon" href="public/img/icon.png" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <div>
            <h1>Mi recetario de cocina</h1>
            <p>Recetas para todos los dias</p>
        </div>
    </header>
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="recetasDulces.html">RECETAS DULCES</a>
        <a href="recetasSaladas.html">RECETAS SALADAS</a>
        <a href="contacto.html">CONTACTO</a>
    </nav>
    <!-- recetas -->
    <main>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="../img/alfajor.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alfajores de Maicena</h5>
                    <p class="card-text">Los alfajores en Argentina son un ícono de las golosinas, existen de todos los sabores y todas las manera imaginables (chocolate, con fruta, mousse, glaseado, etc) pero hay uno que es el más tradicional de todos… el “Alfajor de Maicena”!!</p>
                    <a href="../views/alfajores.html" class="leer-mas">Seguir leyendo</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../img/medialunas.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Medialunas de Manteca</h5>
                    <p class="card-text">Hacer Medialunas de Manteca Caseras es laborioso pero su resultado vale cada minuto invertido. Es de esas preparaciones que se disfrutan muchísimo cuando se comen bien frescas, prácticamente recién salidas del horno, y ni hablar del aroma que queda en casa.</p>
                    <a href="" class="leer-mas">Seguir leyendo</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../img/cheesecake.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cheesecake de Dulce de Leche</h5>
                    <p class="card-text">Una versión del clásico Cheesecake pero esta vez con Dulce de Leche y sin horno.</p>
                    <a href="" class="leer-mas">Seguir leyendo</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../img/volcan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Volcan de Chocolate</h5>
                    <p class="card-text">Hacer Volcán de Chocolate es más simple de lo que solemos pensar. Requiere un sólo batido efectivo, para espumar los huevos y luego una cocción corta y justa. Ese es todo el secreto del volcán de chocolate…</p>
                    <a href="" class="leer-mas">Seguir leyendo</a>
                </div>
              </div>
            </div>
          </div>
    </main>



    <footer>
        <p>&copy; Bren Hoffmann, Potrero Digital 2024</p>
    </footer>
    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>